@model Sixerr.Models.Gig

@{
    ViewData["Title"] = "Details";
}

<div style="margin-top:15px;">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3> @Model.Title </h3>
                    <hr>
                    <img src="~/images/@Model.Photo" class="img-responsive center-block">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4> Об услуге </h4>
                </div>
                <div class="panel-body">
                    <p> @Model.Description </p>
                </div>
            </div>
            <h5> @Html.ActionLink("Создать комментарий", "Create", "Reviews", new { gid = Model.Id }, null) </h5>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4> Отзывы: </h4>
                    <ul class="list-group">
                        @foreach (var review in (List<Review>)ViewData["reviews"])
                        {
                            <li class="list-group-item">
                                <div class="row">
                                    <div class="col-md-10">
                                        <h4><b>@Html.ActionLink(review.Author.User.UserName, "Details", "Profiles", new { id = review.Author.Id }, null) </b> </h4>
                                        <p> @review.Text </p>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <button class="btn btn-success btn-block" type="button"> Заказать услугу ($@Model.Price)  </button>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <img src="GIG.USER.AVATAR" alt="" class="img-circle center-block">
                    <h4 class="text-center">
                        @Model.User.User.UserName
                    </h4>
                    <hr>
                    <p> @Model.User.About </p>
                </div>
            </div>
        </div>
    </div>
</div>
@if (User.Identity.Name == Model.User.User.UserName)
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}

