<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Sixerr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="navbar-inverse">
            <div class="container">
                <ul class="nav navbar-nav navbar-left">
                    <a style="color:white;" href="@Url.Action("Index", "Home")">Главная</a>
                    <a style="color:white; margin-left: 30px;" href="@Url.Action("Chat", "Chat")"> Общий чат</a>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                               role="button" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Мой профиль", "MyProfile", "Profiles")</li>
                                <li>@Html.ActionLink("Создать услугу", "Create", "Gigs")</li>
                                <li>@Html.ActionLink("Мои услуги", "MyGigs", "Profiles")</li>
                                <li role="separator" class="divider"></li>
                                <li>@Html.ActionLink("Выйти", "Logout", "Account") </li>
                            </ul>
                        </li>
                    }

                    else
                    {
                <li style="margin-left:10px;">
                    @Html.ActionLink("Войти", "Login", "Account");
                </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer id="footer">
        <div class="container">
            <span>
                Sixerr App &copy; 2020
            </span>
        </div>
    </footer>
</body>
</html>
